@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan di paling bawah file index.css */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}